// COLOR OCLOCK
// $color: #fff;
// $color-primary: #61dafb;
// $color-bg: #282c34;

$color: #f5ecd5;
$color-primary: #435585;
$color-secondary: #818fb4;
$color-bg: #100030;

$mercedesf1color: #00a19b;
